<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>
    </div>
    <script src="vue.js"></script>
    <script>
        /**
         * v-if 조건 렌더링 구문 (v-if)
         */
        new Vue({
            el: '#app',
            data: {
                show: true
            }
        });
    </script>
</body>

</html>